<div class="page-header">
    <div class="profile_name">Search Results</div>
</div>

<div class="text">
<% if @users.present? %>
    <% @users.each do |user| %>
      <div class="user">
        <div class="row">
          <div class="span2">
            
            <% if User.where(id: user, avatar: nil).present? %>
              <%= image_tag image_tag(User.find(user).gravatar_url) %>
            <% else %>
              <%= image_tag User.find(user).avatar_url(:thumb)  %>
            <% end %>
          </div>
          <div class="span2" style="padding-top:1em;">
            <strong><%= link_to user.full_name, profile_path(user.profile_name) %></strong>
          </div>
        </div>
      </div>
      <hr>
    <% end %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
</div>