
<div class="profile_name" style="padding-top:1em;">New Book</div><br><br>
<div class="text">
<%= render 'form' %>

<%= link_to 'Back', books_path %>
</div>

<script type="text/javascript">
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(GeoL);
        function GeoL(position) {
          document.getElementById('lat').value = position.coords.latitude;
          document.getElementById('lng').value = position.coords.longitude;
        }
    }
    else {
      console.log('Geolocation is not supported for this Browser/OS version yet.');
    }
</script>