/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    padding-top : 40px;
    background: linear-gradient(to left, #8E0E00 , #1F1C18);
}
.alert {
    margin-top: 10px;
}

.book h1{
    margin-top:0;
}

.container {
    padding-top: 0.5em;
}

#search {
    margin-top: 0.5em;
}
.nav .btn {
    margin-top: 0;
    padding-left: 0.5em;
}


.profile_name{
    color: #CEF0D4;
    font-family: 'Rouge Script', cursive;
    font-size: 55px;
    font-weight: normal;
    line-height: 10px;
    margin: 0 0 5px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
    padding-top: 0.5em;
    padding-left: 1em;
}

.text{
    color: #f6f6f6; font-family: 'Orienta', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; text-align: center;
}

#book_description{
    color: #000000;
}

.text.ligth{
    color: #333333;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
}
#book {
    visibility: hidden;
}


.comments {
    text-align: left;
}

.user-name, .comment-content {
    display: inline;
  }
 
  .user-name {
    font-weight: 700;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  #comment {
    margin-top: 7px;
  }
  
  #comment  .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }

.delete-comment {
      float: right;
      color: red;
}
    
#comment {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 15px;
  line-height: 18px;
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
  padding-top: 1em;
}

.comments .comment-form {
  padding-top: 1.5em;
  min-height: 40px;
  
}

.notifications,
.notifications:hover
{
    text-decoration: none;
    font-size: 15px;
    color: white ;
}

.footer_text{
    display: inline-block;

    vertical-align: bottom;
    width: 100px;
}